pkgbase = doomretro
	pkgdesc = The classic, refined DOOM source port
	pkgver = 5.7.2
	pkgrel = 1
	url = http://doomretro.com
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = espresso
	license = GPL-3.0-only
	makedepends = git
	makedepends = cmake
	depends = glibc
	depends = sdl2
	depends = sdl2_image
	depends = sdl2_mixer
	optdepends = timidity++: for music playback
	source = doomretro::git+https://github.com/bradharding/doomretro.git#tag=v5.7.2
	sha512sums = ef025eac8daf34086dde3f499fb6e5b1150da7152a7c366bf71649e3827d36a7ffc47b430bb852ab146374c7dba2c3b6c9ef085a0313914aa7578c15db719685
	b2sums = 2a2f4127b72974e61f3e39b4a7b71ad5bebc6b3466ee2a39a88a2a2e9f7dfbc959ab778d62040b95cc35064ab59b24761b289c276762bdc9a00c3698595bc8aa

pkgname = doomretro
