pkgbase = doomretro
	pkgdesc = The classic, refined DOOM source port
	pkgver = 5.6
	pkgrel = 1
	url = http://doomretro.com
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = cmake
	depends = glibc
	depends = sdl2
	depends = sdl2_image
	depends = sdl2_mixer
	optdepends = timidity++: for music playback
	source = doomretro::git+https://github.com/bradharding/doomretro.git#tag=v5.6
	sha512sums = 364010f0c7cec960133a2525d3c740db26b461449ebdf23b52eb3da57bf797ca6149d1d5198524dbd244652aacd9ae86298d669826252f719b339807873c50a7
	b2sums = 7acfd9102b281309b6aabe87c9af5cd7c2ae24223307da70d7c6daef2b2d2ec5b1eaa3afa2c9d98683ed0bfd40a6b5c2ef42359da91ccac2995711befa71da29

pkgname = doomretro
