pkgbase = scrot
	pkgdesc = Simple command-line screenshot utility for X
	pkgver = 1.12.1
	pkgrel = 1
	url = https://github.com/resurrecting-open-source-projects/scrot
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = espresso
	license = MIT
	makedepends = autoconf-archive
	makedepends = git
	depends = imlib2
	depends = libxext
	depends = libxinerama
	depends = libxfixes
	depends = libxcomposite
	depends = libbsd
	source = git+https://github.com/resurrecting-open-source-projects/scrot.git#tag=1.12.1
	sha512sums = fdda244965347c3e760b95799f800ac67f18de434205d8d762ff61a08c3f9c8033e2d704d443f0b95b72c0b3e1beb6a342107eb5fe86405d2356289bcf0a93ee
	b2sums = e453888c8c337d11686697e87e759f54bbe8854035298a6d1a4f404d7f9bba6f27f47764cb5d311e6e8854a41d5c9cbe5be260ccadc0cbd1ad4235d86fbcf7e2

pkgname = scrot
