pkgbase = python-pipenv
	pkgdesc = Sacred Marriage of Pipfile, Pip, & Virtualenv.
	pkgver = 2024.4.1
	pkgrel = 1
	url = https://pipenv.pypa.io
	arch = any
	license = MIT
	checkdepends = git
	checkdepends = python-flaky
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-timeout
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-pip
	depends = python-certifi
	depends = python-virtualenv-clone
	depends = python-virtualenv
	source = python-pipenv-2024.4.1.tar.gz::https://github.com/pypa/pipenv/archive/v2024.4.1.tar.gz
	b2sums = ae40b66213d204bf82ed67e5cd65fa054e84485cd2b924fad4096b6290be8386df4ab88268597d02307045aa841407432bdae9e0da32ef9d34d9ffaf92cace81

pkgname = python-pipenv
