pkgbase = python-pipenv
	pkgdesc = Sacred Marriage of Pipfile, Pip, & Virtualenv.
	pkgver = 2025.0.4
	pkgrel = 1
	url = https://pipenv.pypa.io
	arch = any
	license = MIT
	checkdepends = git
	checkdepends = python-flaky
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-timeout
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-pip
	depends = python-certifi
	depends = python-virtualenv-clone
	depends = python-virtualenv
	source = python-pipenv-2025.0.4.tar.gz::https://github.com/pypa/pipenv/archive/v2025.0.4.tar.gz
	b2sums = 648aab748af7b3147c5a2c940e2965799e1cb1f7a1b52cec81a5f7be4d955d6ddf57b2ed28c067077a39d48038b0348d060f4296f787c6e5b60ac90e132b8edb

pkgname = python-pipenv
