pkgbase = python-pyte
	pkgdesc = Simple VTXXX-compatible terminal emulator
	pkgver = 0.8.2
	pkgrel = 4
	url = https://github.com/selectel/pyte
	arch = any
	license = LGPL3
	checkdepends = python-pytest
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-wcwidth
	source = https://github.com/selectel/pyte/archive/0.8.2/python-pyte-0.8.2.tar.gz
	sha512sums = e9e79babb81b32eedbb4f0585ef07f8978e8592171834d9ce43a09f8a1d3156c00abb535e887ba9c83909bf1010210009b9a00ccbec7c2e430e5147120949743

pkgname = python-pyte
