pkgbase = binwalk
	pkgdesc = Tool for searching a given binary image for embedded files
	pkgver = 3.1.0
	pkgrel = 1
	url = https://github.com/ReFirmLabs/binwalk
	arch = x86_64
	arch = powerpc64
	arch = powerpc64le
	license = MIT
	makedepends = rust
	depends = bzip2
	depends = freetype2
	depends = fontconfig
	depends = libgcc
	depends = xz
	optdepends = python-opengl: binviz module support
	optdepends = python-capstone: disassembly support
	optdepends = python-matplotlib: entropy plotting
	optdepends = python-pyqtgraph: entropy plotting
	optdepends = python-numpy: entropy module
	optdepends = python-numba: entropy module
	optdepends = python-gnupg: pgp plugin
	optdepends = arj: ARJ decompression support
	optdepends = cabextract: CAB archive support
	optdepends = cpio: CPIO archive support
	optdepends = gzip: GZIP decompression support
	optdepends = mtd-utils: JFFS filesystem support
	optdepends = p7zip: ZIP, LZMA and ISO decompression support
	optdepends = squashfs-tools: squashfs support
	optdepends = tar: TAR archive support
	optdepends = unrar: RAR decompression support
	optdepends = lhasa: LHA support
	optdepends = sleuthkit: forensic analysis support
	source = https://github.com/ReFirmLabs/binwalk/archive/v3.1.0/binwalk-3.1.0.tar.gz
	sha512sums = ebed0d260252a18d32af3d24ef7414df656eaa619fbd0327bdd4a9e104654e348dc5cb093d2627258c5839682cfb30bba33f54b91e7e10c1e513f9ceb8509aa7
	b2sums = 021384121d961775172c282775ed78a783e2eaba1a0c2a7eb4f98e2fc6fcfaa9e11ef419aba9fa2eb8f350eba327e31cc8adc31b92ef48b6134c9ecab1a3a396

pkgname = binwalk
