pkgbase = magic-wormhole
	pkgdesc = Securely transfer data between computers
	pkgver = 0.20.0
	pkgrel = 2
	url = https://github.com/magic-wormhole/magic-wormhole
	arch = any
	license = MIT
	checkdepends = python-magic-wormhole-mailbox-server
	checkdepends = python-magic-wormhole-transit-relay
	checkdepends = python-noiseprotocol
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-twisted
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-versioneer
	depends = python-autobahn
	depends = python-click
	depends = python-humanize
	depends = python-idna
	depends = python-iterable-io
	depends = python-pynacl
	depends = python-pyopenssl
	depends = python-qrcode
	depends = python-service-identity
	depends = python-spake2
	depends = python-tqdm
	depends = python-txtorcon
	depends = python-zipstream-ng
	source = https://github.com/magic-wormhole/magic-wormhole/archive/0.20.0/magic-wormhole-0.20.0.tar.gz
	sha512sums = bd5c49424c1bbe70421fea49223bd9b7995509d94739a9a48e4e4fb365d63b8186f65a44751b29d44c1e3c73217014c9e3617790b57eb83801271f347b83a583

pkgname = magic-wormhole
