pkgbase = python-autobahn
	pkgdesc = Real-time framework for Web, Mobile & Internet of Things
	pkgver = 24.4.2
	pkgrel = 3
	url = https://github.com/crossbario/autobahn-python/
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = espresso
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-argon2_cffi
	makedepends = python-cbor2
	makedepends = python-flatbuffers
	makedepends = python-msgpack
	makedepends = python-passlib
	makedepends = python-pynacl
	makedepends = python-pytrie
	makedepends = python-ubjson
	makedepends = python-u-msgpack
	makedepends = python-ujson
	makedepends = python-qrcode
	makedepends = python-pyopenssl
	makedepends = python-snappy
	makedepends = python-click
	makedepends = python-txtorcon
	depends = glibc
	depends = python
	depends = python-cffi
	depends = python-twisted
	depends = python-txaio
	depends = python-wsaccel
	depends = python-cryptography
	depends = python-hyperlink
	depends = python-zope-interface
	optdepends = python-cbor2: CBOR serializer support
	optdepends = python-flatbuffers: FlatBuffers serializer support
	optdepends = python-msgpack: MsgPack serializer support
	optdepends = python-u-msgpack: pure-python alternative to python-msgpack for MsgPack serializer support
	optdepends = python-ubjson: UBJSON serializer support
	optdepends = python-ujson: accelerated JSON serializer support
	optdepends = python-argon2_cffi: WAMP-SCRAM authentication support
	optdepends = python-passlib: WAMP-SCRAM authentication support
	optdepends = python-pynacl: WAMP-cryptosign and WAMP-cryptobox support
	optdepends = python-pytrie: WAMP-cryptobox support
	optdepends = python-qrcode: support QR codes in WAMP
	optdepends = python-pyopenssl: SSL/TLS support
	optdepends = python-snappy: snappy compression suppport for WebSocket messages
	optdepends = python-click: for text highlights
	optdepends = python-txtorcon: connections to Tor Onion services
	source = git+https://github.com/crossbario/autobahn-python.git#tag=v24.4.2
	sha256sums = 2850e7a45ce0c466a460b09433e23d3a6bba5914fa3596428ca7233ef6815204

pkgname = python-autobahn
