pkgbase = ecl
	pkgdesc = Embeddable Common Lisp
	pkgver = 24.5.10
	pkgrel = 3
	url = https://common-lisp.net/project/ecl/
	arch = x86_64
	license = LGPL
	makedepends = texinfo
	depends = bash
	depends = gmp
	depends = libffi
	provides = common-lisp
	provides = cl-asdf
	options = !makeflags
	source = https://common-lisp.net/project/ecl/static/files/release/ecl-24.5.10.tgz
	source = https://gitlab.com/embeddable-common-lisp/ecl/-/commit/5b4e9c4bbd7cce4a678eecd493e56c495490e8b5.patch
	source = https://gitlab.com/embeddable-common-lisp/ecl/-/commit/5ec9e02f6db9694dcdef7574036f1e320d64a8af.patch
	source = https://gitlab.com/embeddable-common-lisp/ecl/-/commit/1aec8f741f69fd736f020b7fe4d3afc33e60ae6a.patch
	sha256sums = e4ea65bb1861e0e495386bfa8bc673bd014e96d3cf9d91e9038f91435cbe622b
	sha256sums = 6926dfba7c1b7ef2b55f1a885a60cb9c48b95de4557ff4e60b6102ac10676bb0
	sha256sums = 8118ce439047fc78f3ea07aef80a5e13bd5d2a05b3b19445c98d6ecd59e4adae
	sha256sums = e2966a928424e6d1f156212d571b7e0887faf87d72ea20780b681757bb425b37

pkgname = ecl
