pkgbase = mosquitto
	pkgdesc = An Open Source MQTT Broker
	pkgver = 2.0.22
	pkgrel = 3
	url = https://mosquitto.org/
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = espresso
	license = LicenseRef-EDL-1.0
	license = EPL-2.0
	checkdepends = cunit
	checkdepends = python
	checkdepends = python-psutil
	makedepends = c-ares
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = libwebsockets
	makedepends = systemd
	makedepends = uthash
	depends = cjson
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = util-linux-libs
	backup = etc/mosquitto/mosquitto.conf
	source = https://mosquitto.org/files/source/mosquitto-2.0.22.tar.gz
	source = https://mosquitto.org/files/source/mosquitto-2.0.22.tar.gz.asc
	source = mosquitto.service
	source = sysusers_mosquitto.conf
	validpgpkeys = A0D6EEA1DCAE49A635A3B2F0779B22DFB3E717B7
	sha512sums = 5aae399b308d8262a758a72064c613bfd6930e1a54f34939e30454d988c65c9d7c4c139ed70a016baa1264a0100a0c842c00e843ffe3ef83f90be440403e7482
	sha512sums = SKIP
	sha512sums = 4d844ac5de505d1fb97052d291e4046d5da725e4cf78f8bc6b2a8d27426ac23f29983408b1904f5aa7985e8a4d6f6ed2938003b721a872e233dbb1c9d5be1ec2
	sha512sums = 22b7472ad47f077bef025c476ca9181b0e0ccefce84a7ee0b5a212a84ddd1e46f6f6e64b0722d9d359178c74e74920fe95bcee7ea895449f2aa26e284b4b11b1

pkgname = mosquitto
	depends = cjson
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = util-linux-libs
	depends = c-ares
	depends = libcares.so
	depends = libwebsockets
	depends = libwebsockets.so
	depends = systemd-libs
	depends = libsystemd.so
