pkgbase = mosquitto
	pkgdesc = An Open Source MQTT Broker
	pkgver = 2.1.2
	pkgrel = 2
	url = https://mosquitto.org/
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = espresso
	license = LicenseRef-EDL-1.0
	license = EPL-2.0
	checkdepends = cunit
	checkdepends = python
	checkdepends = python-psutil
	checkdepends = gtest
	makedepends = argon2
	makedepends = cmake
	makedepends = ninja
	makedepends = docbook-xsl
	makedepends = libwebsockets
	makedepends = systemd
	makedepends = uthash
	depends = cjson
	depends = libgcc
	depends = libstdc++
	depends = glibc
	depends = openssl
	depends = util-linux-libs
	depends = readline
	depends = sqlite
	depends = c-ares
	depends = systemd-libs
	backup = etc/mosquitto/mosquitto.conf
	source = https://mosquitto.org/files/source/mosquitto-2.1.2.tar.gz
	source = mosquitto.service
	source = sysusers_mosquitto.conf
	validpgpkeys = A0D6EEA1DCAE49A635A3B2F0779B22DFB3E717B7
	sha512sums = f75bf9461680c35ec1c9837bec33490f3709df0adee3bb1ef69151e61b6afabc36dc562f54de43cb11fa7aa57417100d30be83fafc0d6585308f239f0a4a40d5
	sha512sums = SKIP
	sha512sums = 4d844ac5de505d1fb97052d291e4046d5da725e4cf78f8bc6b2a8d27426ac23f29983408b1904f5aa7985e8a4d6f6ed2938003b721a872e233dbb1c9d5be1ec2
	sha512sums = 22b7472ad47f077bef025c476ca9181b0e0ccefce84a7ee0b5a212a84ddd1e46f6f6e64b0722d9d359178c74e74920fe95bcee7ea895449f2aa26e284b4b11b1

pkgname = mosquitto
