pkgbase = pcsc-tools
	pkgdesc = PC/SC Architecture smartcard tools
	pkgver = 1.7.3
	pkgrel = 1
	url = https://pcsc-tools.apdu.fr/
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = espresso
	license = GPL
	makedepends = pkg-config
	depends = pcsclite
	depends = pcsc-perl
	depends = glib-perl
	optdepends = perl-gtk3: gscriptor
	optdepends = perl-libintl-perl: gscriptor
	source = https://pcsc-tools.apdu.fr/pcsc-tools-1.7.3.tar.bz2
	source = https://pcsc-tools.apdu.fr/pcsc-tools-1.7.3.tar.bz2.asc
	validpgpkeys = F5E11B9FFE911146F41D953D78A1B4DFE8F9C57E
	sha512sums = 2659d5d3d1de147fc5373aaf1bea27692d57ace1f9cd19b2181c0ef43d94c77ecff78f4c784238b9ee05f154550535eb966814f1bd9143ad7ae6842f8b92d5c0
	sha512sums = SKIP

pkgname = pcsc-tools
