pkgbase = lighttpd
	pkgdesc = A secure, fast, compliant and very flexible web-server
	pkgver = 1.4.77
	pkgrel = 1
	url = https://www.lighttpd.net/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = brotli
	makedepends = git
	makedepends = krb5
	makedepends = libdbi
	makedepends = libldap
	makedepends = libmaxminddb
	makedepends = libxml2
	makedepends = lua
	makedepends = mariadb-libs
	makedepends = meson
	makedepends = sqlite
	depends = pcre2
	optdepends = brotli: mod_deflate
	optdepends = krb5: mod_authn_gssapi
	optdepends = libdbi: mod_authn_dbi/mod_vhostdb_dbi
	optdepends = libldap: mod_authn_ldap/mod_vhostdb_ldap
	optdepends = libmaxminddb: mod_maxminddb
	optdepends = libxml2: mod_webdav
	optdepends = lua: mod_magnet
	optdepends = mariadb-libs: mod_authn_mysql/mod_vhostdb_mysql
	optdepends = sqlite: mod_webdav
	options = emptydirs
	backup = etc/lighttpd/lighttpd.conf
	backup = etc/logrotate.d/lighttpd
	source = git+https://github.com/lighttpd/lighttpd1.4.git#tag=lighttpd-1.4.77?signed
	source = lighttpd.logrotate.d
	source = lighttpd.conf
	source = lighttpd.tmpfiles
	validpgpkeys = C7CA1E9E29DC77F5480894B2E0E7D0171E95BAD7
	validpgpkeys = 649D0DD767FF206202A76C5158F14A786FE198C8
	validpgpkeys = EAAF41A8BE3BB8D001CACD136DE62CA242909B84
	sha256sums = 93f43956daed12e40ead0ea6a76e55d034c298555f25f1d3a2310f437a3c65ba
	sha256sums = 41f6c0042bb61021553779f861910e335834f6c15e4411756cdc6233b31076fe
	sha256sums = 3aaa31c3d200e5346e9b8bb0eec293c2b7582598f3baf46537f05b46d6d4becd
	sha256sums = da6878d1649572259f29ae50236a129ff131c9b1730af81498581824cf8c4c35

pkgname = lighttpd
