pkgbase = sfml
	pkgdesc = A simple, fast, cross-platform, and object-oriented multimedia API
	pkgver = 3.1.0
	pkgrel = 2
	url = http://www.sfml-dev.org/
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = espresso
	license = Zlib
	makedepends = mesa
	makedepends = cmake
	makedepends = doxygen
	makedepends = systemd
	makedepends = ninja
	makedepends = git
	depends = libsndfile
	depends = libxrandr
	depends = glew
	depends = freetype2
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = mbedtls3
	depends = harfbuzz
	depends = glibc
	depends = libstdc++
	depends = libgcc
	depends = libogg
	depends = flac
	depends = libvorbis
	provides = libsfml-window.so
	provides = libsfml-network.so
	provides = libsfml-system.so
	provides = libsfml-audio.so
	provides = libsfml-graphics.so
	source = sfml-3.1.0.tar.gz::https://github.com/SFML/SFML/archive/3.1.0.tar.gz
	source = fix-mbedtls-include-dir.patch
	sha512sums = 5fe38a11c146f5bb99d4ced8e97cd8872f384cc0531073480f7380ce19a3440b085da5ce66c7a06768728065bc645afecbeed0e1ecc88e28df1720a9cf55abdc
	sha512sums = e0e549cfe9c7271572fb9a77e0e5045c473ff077329cb83323c80fb930457a39de1a9706e2e2fc9b9e5afd0fa947ab8a52fac57ab6b422e754f295c12a483ff8

pkgname = sfml
