pkgbase = sfml
	pkgdesc = A simple, fast, cross-platform, and object-oriented multimedia API
	pkgver = 2.6.1
	pkgrel = 1
	url = http://www.sfml-dev.org/
	arch = x86_64
	license = zlib
	makedepends = mesa
	makedepends = cmake
	makedepends = doxygen
	makedepends = systemd
	makedepends = ninja
	depends = libsndfile
	depends = libxrandr
	depends = openal
	depends = glew
	depends = freetype2
	depends = libx11
	depends = libxcursor
	provides = libsfml-window.so
	provides = libsfml-network.so
	provides = libsfml-system.so
	provides = libsfml-audio.so
	provides = libsfml-graphics.so
	source = sfml-2.6.1.tar.gz::https://github.com/SFML/SFML/archive/2.6.1.tar.gz
	sha512sums = b376d3b00277ed60d107fe1268c210749b3aafcee618a8f924b181a9b476e92b9cb9baddecf70a8913b5910c471d53ea0260a876ad7b2db2b98b944d9f508714

pkgname = sfml
