pkgbase = sfml
	pkgdesc = A simple, fast, cross-platform, and object-oriented multimedia API
	pkgver = 3.0.1
	pkgrel = 1
	url = http://www.sfml-dev.org/
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = espresso
	license = Zlib
	makedepends = mesa
	makedepends = cmake
	makedepends = doxygen
	makedepends = systemd
	makedepends = ninja
	depends = libsndfile
	depends = libxrandr
	depends = glew
	depends = freetype2
	depends = libx11
	depends = libxcursor
	depends = libxi
	provides = libsfml-window.so
	provides = libsfml-network.so
	provides = libsfml-system.so
	provides = libsfml-audio.so
	provides = libsfml-graphics.so
	source = sfml-3.0.1.tar.gz::https://github.com/SFML/SFML/archive/3.0.1.tar.gz
	sha512sums = cee56eef93728aef9b361f8b1080572532ce5247c80a9d1be53b30dab4d67e8588316890555d4c4ba423e87b09f954327d70615e1ba72d458d8238fa84e589f9

pkgname = sfml
