pkgbase = ccid
	pkgdesc = A generic USB Chip/Smart Card Interface Devices driver
	pkgver = 1.6.2
	pkgrel = 1
	url = https://ccid.apdu.fr/
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = espresso
	license = LGPL
	license = GPL
	makedepends = meson
	depends = pcsclite
	depends = libusb
	depends = flex
	backup = etc/reader.conf.d/libccidtwin
	source = https://ccid.apdu.fr/files/ccid-1.6.2.tar.xz
	source = https://ccid.apdu.fr/files/ccid-1.6.2.tar.xz.asc
	validpgpkeys = F5E11B9FFE911146F41D953D78A1B4DFE8F9C57E
	sha256sums = 41958410950157e622f9d91c9e78c7b708db74e22f71190c581d24d20564d449
	sha256sums = SKIP

pkgname = ccid
